.action {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  @media (max-width: 767.98px) {
    flex-direction: column;
  }

  &-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    @include font-montserrat-alt-bold;
    color: #212B36;
    margin-bottom: 10px;
    @media (max-width: 767.98px) {
      margin-top: 20px;
    }
  }

  & p {
    &:last-child {
      margin-bottom: 0;
    }
  }

  & img {
    width: 100%;
    @media (max-width: 767.98px) {
      max-height: 150px;
      object-fit: cover;
    }
  }

  &-picture {
    min-width: 325px;
    @media (max-width: 767.98px) {
      min-width: 100%;
    }
  }

  &-content {
    flex-grow: 1;
    padding-left: 32px;
    @media (max-width: 767.98px) {
      padding: 0;
    }
  }
}