.banner {
  background: #F7F2F9;

  &:hover {
    & .owl-banner {
      & .owl-nav {
        opacity: 1;
      }
    }
  }

  @media (max-width: 767.98px) {

  }

  &-item {
    &-img {
      @media (min-width: 768px) {
        width: auto!important;
        display: inline-block!important;
      }

      @media (max-width: 767.98px) {
        max-height: 380px;
        object-fit: cover;
      }
    }

    &-title {
      font-size: 46px;
      line-height: 55px;
      @include font-bitter-regular;
      color: #38334D;
      margin: 35px 0 30px;

      @media (max-width: 992px) {
        font-size: 30px;
        line-height: 36px;
        margin: 15px 0;
      }

      @media (max-width: 767.98px) {
        margin-top: 50px;
      }
    }

    &-text {
      font-size: 15px;
      line-height: 28px;
      @include font-montserrat-alt-regular;
      letter-spacing: 0.5px;
      color: #4D4A54;
      min-height: 130px;
      margin: 0 0 20px;

      @media (max-width: 1200px) {
        & br {
          display: none;
        }
      }

      @media (max-width: 992px) {
        font-size: 13px;
        line-height: 20px;
        min-height: auto;
      }
    }
  }
}


.owl-banner {
  & .owl-dots {
    top: -20px;
    position: relative;
    display: table;
    margin: 0 auto;
    border-radius: 8px;
    line-height: 1;
    background: rgba(255, 255, 255, 0.6);

    @media (max-width: 767.98px) {
      top: 400px;
      position: absolute;
      left: 0;
      right: 0;
      width: auto;
      display: inline-block;
      text-align: center;
      background: 0;
    }

    .owl-dot {
      margin: 4px;
      line-height: 1;
      & span {
        width: 10px;
        height: 10px;
        display: block;
        border-radius: 50%;
        background: #212B36;
        opacity: 0.3;
      }
      &.active {
        & span {
          opacity: 1;
        }
      }
    }
  }

  & .owl-nav {
    opacity: 0;
    transition: 0.3s;

    & button {
      &.owl-next,
      &.owl-prev {
        color: #BABCC1;
        font-size: 30px;
        position: absolute;
        top: 50%;
        margin-top: -15px;
        line-height: 1;

        &:hover {
          color: #5F2E6C;
        }
      }

      &.owl-next {
        right: -50px;
      }

      &.owl-prev {
        left: -50px;
      }
    }
  }
}