@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.eot');
  src: url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Montserrat-Regular.woff') format('woff'),
  url('../fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Medium.eot');
  src: url('../fonts/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Montserrat-Medium.woff') format('woff'),
  url('../fonts/Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-ExtraBold.eot');
  src: url('../fonts/Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Montserrat-ExtraBold.woff') format('woff'),
  url('../fonts/Montserrat-ExtraBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat Alternates';
  src: url('../fonts/MontserratAlternates-Regular.eot');
  src: url('../fonts/MontserratAlternates-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MontserratAlternates-Regular.woff') format('woff'),
  url('../fonts/MontserratAlternates-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat Alternates';
  src: url('../fonts/MontserratAlternates-Medium.eot');
  src: url('../fonts/MontserratAlternates-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MontserratAlternates-Medium.woff') format('woff'),
  url('../fonts/MontserratAlternates-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat Alternates';
  src: url('../fonts/MontserratAlternates-Bold.eot');
  src: url('../fonts/MontserratAlternates-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MontserratAlternates-Bold.woff') format('woff'),
  url('../fonts/MontserratAlternates-Bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Bitter";
  src: url("../fonts/BitterRegular.eot");
  src: url("../fonts/BitterRegular.eot?#iefix")format("embedded-opentype"),
  url("../fonts/BitterRegular.woff") format("woff"),
  url("../fonts/BitterRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}