.footer {
  background: #F7F2F9;
  padding: 40px 0;

  & .navbar {
    padding: 0;
    margin: 0;

    & .navbar-nav {
      gap: 30px;

      @media (max-width: 1200px) {
        gap: 24px;
      }

      @media (max-width: 992px) {
        gap: 10px;
      }

      @media (max-width: 767.98px) {
        flex-direction: column;
      }

      & .nav-link {
        padding: 0.5rem 0;
        font-size: 16px;
        line-height: 20px;
        color: #4D4A54;

        @media (max-width: 1200px) {
          font-size: 14px;
        }

        @media (max-width: 992px) {
          font-size: 12px;
        }

        @media (max-width: 767.98px) {
          padding: 5px 0;
          font-size: 16px;
        }

        &:hover,
        &.__active {
          color: #5f2e6c;
        }

        &.__active {
          pointer-events: none;
        }
      }
    }
  }

  & .link-icon {
    @include font-montserrat-bold;
    color: #4D4A54;
  }

  &-col {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    & .icon {
      min-width: 30px;
      margin-right: 10px;
      &.__search {
        min-width: auto;
      }
    }

    &-title,
    &-title a {
      @include font-montserrat-bold;
      font-size: 15px;
      line-height: 18px;
      color: #151828;
    }

    &-text,
    &-text a {
      font-size: 13px;
      line-height: 16px;
      color: #5F2E6C;
    }
  }
}

body.__main {
  .footer {
    background: #FBF9FC;
  }
}