.form {
  & label {
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: #4D4A54;
    @include font-montserrat-alt-regular;
    margin: 0 0 5px;
  }

  &-group {
    margin: 0 0 25px;
  }

  &-control {
    background: #FFFFFF;
    border: 1px solid #EBEEF2;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 10px 20px;
    height: 48px;
    font-size: 15px;
    line-height: 28px;
    @include font-montserrat-alt-regular;
    color: #000;

    &::placeholder {
      color: #4D4A5440;
    }
  }

  & textarea {
    resize: none;
    height: 124px;
  }

  .form-check-input {
    width: 1em;
    height: 1em;
    margin-top: .25em;
    vertical-align: top;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 1px solid rgba(0,0,0,.25);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
  }

  & .form-check-input:checked {
    background-color: #5f2e6c;
    border-color: #5f2e6c;
  }

  & .form-check-input[type=checkbox] {
    border-radius: .25em;
  }

  & .form-check-input:checked[type=checkbox] {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/></svg>");
  }
}