.header {
  background: #F7F2F9;
  padding: 30px 0;

  @media (max-width: 767.98px) {
    padding: 20px 0;
    position: relative;
  }

  &-logo {
    & img {
      max-width: 170px;
    }
  }

  .navbar-toggler {
    padding: 0;
    margin-left: 15px;

    &-icon {
      border-top: 2px solid #5F2E6C;
      border-bottom: 2px solid #5F2E6C;
      width: 24px;
      height: 18px;
      position: relative;
      display: block;

      &::before {
        content: "";
        display: block;
        width: 100%;
        border-top: 2px solid #5F2E6C;
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        margin-top: -1px;
      }

      &::after {
        content: "";
        display: block;
        width: 100%;
        border-top: 2px solid transparent;
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        margin-top: -1px;
      }
    }
  }

  &-col {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    & .icon {
      min-width: 50px;

      &.__search {
        min-width: auto;
      }
    }

    &-title,
    &-title a {
      @include font-montserrat-bold;
      font-size: 15px;
      line-height: 18px;
      color: #151828;

      @media (max-width: 1200px) {
        font-size: 13px;
      }
    }

    &-text,
    &-text a {
      font-size: 13px;
      line-height: 16px;
      color: #5F2E6C;
    }
  }

  & .navbar {
    padding: 15px 0 0;
    border-bottom: 1px solid #BABABA;

    @media (max-width: 767.98px) {
      padding: 0;
      border-bottom: 0;
    }

    & .navbar-collapse {
      @media (max-width: 767.98px) {
        padding: 15px;
        position: fixed;
        z-index: 100;
        background: rgb(247, 242, 249);
        height: 100% !important;
        top: 80px;
        left: 0;
        right: 0;
        bottom: 0;
      }

      & .navbar-nav {
        justify-content: space-between;
        gap: 12px;
        width: 100%;

        & .nav-item {
          & .nav-link {
            font-size: 16px;
            line-height: 20px;
            color: #4D4A54;
            padding: 12px 0;
            position: relative;
            @include font-montserrat-bold;

            @media (max-width: 1200px) {
              font-size: 14px;
            }

            @media (max-width: 992px) {
              font-size: 12px;
            }

            &:hover,
            &.__active {
              color: #5F2E6C;

              &::after {
                content: "";
                position: absolute;
                bottom: -1px;
                left: 0;
                right: 0;
                border-bottom: 1px solid #5F2E6C;
              }
            }

            &.__active {
              pointer-events: none;
            }

            @media (max-width: 767.98px) {
              font-size: 18px;
              line-height: 22px;
              color: #4D4A54;
              @include font-montserrat-bold;
              padding: 15px 0;

              &:hover {
                color: #5F2E6C;
                text-shadow: none;

                &::after {
                  display: none;
                }

                &::before {
                  content: "";
                  background: #5F2E6C;
                  box-shadow: 0px 10px 25px rgba(127, 116, 157, 0.08);
                  border-radius: 6px;
                  position: absolute;
                  left: -21px;
                  top: 0;
                  bottom: 0;
                  width: 12px;
                }
              }
            }
          }
        }
      }
    }
  }

  &-links {
    align-items: center;
    justify-content: space-between;
    background: #FFFFFF;
    box-shadow: 0px 10px 25px rgba(127, 116, 157, 0.08);
    border-radius: 6px;
    padding: 10px 10px;
    display: flex;
    margin: 0 0 35px;

    & a {
      display: flex;
      align-items: center;
      font-size: 14px;
      line-height: 17px;
      @include font-montserrat-bold;
      color: #151828;
      padding: 10px 20px;

      & .icon {
        margin-right: 10px;
      }
    }

    &-delimiter {
      display: block;
      height: 42px;
      border-left: 1px solid #C4C4C430;
      content: "";
    }
  }

  &-address {
    padding-left: 15px;
    border-left: 2px solid #4D4A54;
    margin: 0 0 25px;

    &-title {
      font-size: 15px;
      line-height: 18px;
      @include font-montserrat-bold;
      color: #151828;
      margin: 0 0 5px;
    }

    &-text {
      font-size: 13px;
      line-height: 16px;
      color: #4D4A54;
    }
  }

  &.__show {
    background: #F7F2F9;

    & .navbar-toggler {
      &-icon {
        border-top-color: transparent;
        border-bottom-color: transparent;

        &::before {
          transform: rotate(45deg);
        }

        &::after {
          transform: rotate(-45deg);
          border-top-color: #5F2E6C;
        }
      }
    }

    & .navbar {
      & .navbar-collapse {
        display: block;
      }
    }
  }
}

body.__fixed {
  overflow: hidden;
}

@media (max-width: 767.98px) {
  body.__main {
    & .header {
      background: #fbf9fc;

      &.__show {
        background: #F7F2F9;
      }
    }
  }
}

@media (min-width: 768px) {
  body.__main {
    & .header {
      background: #F7F2F9;
      & .navbar {
        border-bottom: 1px solid transparent;

        & .navbar-collapse {
          & .navbar-nav {
            & .nav-item {
              & .nav-link {
                color: #5F2E6C;

                &:hover {
                  color: #4D4A54;
                }

                &::after {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }
}