.icon {
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;

  &.__address {
    background-image: url("../images/icon-point.svg");
  }

  &.__search {
    background-image: url("../images/icon-search.svg");
  }

  &.__address-gray {
    background-image: url("../images/icon-point-gray.svg");
  }

  &.__phone {
    background-image: url("../images/icon-phone.svg");
    width: 20px;
    height: 20px;
  }

  &.__phone-gray {
    background-image: url("../images/icon-phone-gray.svg");
    width: 20px;
    height: 20px;
  }

  &.__cabinet {
    background-image: url("../images/icon-cabinet.svg");
  }

  &.__vk {
    background-image: url("../images/icon-vk.svg");
    width: 20px;
    height: 12px;

    &:hover,
    &.__purple {
      background-image: url("../images/icon-vk-purple.svg");
    }
  }

  &.__instagram {
    background-image: url("../images/icon-instagram.svg");
    width: 22px;
    height: 22px;

    &:hover,
    &.__purple {
      background-image: url("../images/icon-instagram-purple.svg");
    }
  }

}