.index-service {
  background: #F7F2F9;
  padding: 100px 0 55px;

  @media (max-width: 1200px) {
    padding: 70px 0 25px;
  }

  @media (max-width: 992px) {
    padding: 45px 0 25px;
  }

  &-item {
    background: #FFFFFF;
    box-shadow: 0px 10px 25px rgba(127, 116, 157, 0.2);
    border-radius: 6px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
    transition: 0.3s;
    position: relative;

    @media (max-width: 992px) {
      margin-bottom: 20px;
      height: auto;
    }

    &:hover {
      text-decoration: none;
      @media (min-width: 992px) {
        transform: translateY(-20px);
      }
    }
  }

  &-icon {
    height: 60px;
    display: flex;
    align-items: center;
    margin: 0 0 15px;

    @media (max-width: 992px) {
      position: absolute;
      right: 20px;
      top: 20px;
      margin: 0;
      height: auto;

      & img {
        max-width: 25px;
      }
    }
  }

  &-title {
    font-size: 18px;
    line-height: 22px;
    @include font-montserrat-alt-bold;
    color: #212B36;
    margin: 0 0 10px;

    @media (max-width: 992px) {
      font-size: 16px;
    }
  }

  &-text {
    font-size: 15px;
    line-height: 24px;
    @include font-montserrat-alt-regular;
    letter-spacing: 0.5px;
    color: #4D4A54;

    @media (max-width: 992px) {
      font-size: 13px;
    }
  }
}

.index-about {
  padding: 100px 0;

  @media (max-width: 1200px) {
    padding: 70px 0;
  }

  @media (max-width: 992px) {
    padding: 30px 0;
  }

  &-content {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    & img {
      @media (max-width: 767.98px) {
        max-width: 260px;
      }
    }
  }

  @media (max-width: 767.98px) {
    & .title.__h3 {
      font-size: 16px;
    }

    & p {
      font-size: 13px;
    }
  }
}

.index-doctors {
  padding: 80px 0;

  @media (max-width: 992px) {
    padding: 40px 0;
  }
}

.doctors-slider {
  padding: 20px 0;

  &-item {
    text-decoration: none !important;
  }

  &-img {
    max-height: 210px;
    margin: 0 0 5px;

    & img {
      width: 100%;
      height: 210px;
      object-fit: cover;
    }
  }

  &-title {
    font-size: 18px;
    line-height: 22px;
    @include font-montserrat-alt-bold;
    color: #212B36;
    min-height: 40px;
    display: flex;
    align-items: center;
  }

  &-text {
    font-size: 13px;
    line-height: 20px;
    @include font-montserrat-alt-regular;
    letter-spacing: 0.5px;
    color: #4D4A54;
  }
}

.index-map {
  padding: 45px 0 0;
  background: #FBF9FC;

  @media (max-width: 1200px) {
    padding: 0;
  }

  &-google {
    width: 100%;
    height: 528px;
  }

  & .container {
    position: relative;
  }

  &-text {
    position: absolute;
    bottom: 0;
    font-size: 14px;
    line-height: 24px;
    @include font-montserrat-alt-regular;
    letter-spacing: 0.5px;
    color: #4D4A54;
    background: rgba(255, 255, 255, 0.85);
    padding: 24px;
    max-width: 554px;

    @media (max-width: 992px) {
      max-width: 100%;
      left: 15px;
      right: 15px;
    }

    @media (max-width: 767.98px) {
      font-size: 13px;
      line-height: 20px;
      bottom: -50px;
    }
  }
}

.index-cert {
  padding: 100px 0 80px;

  @media (max-width: 767.98px) {
    padding: 80px 0 40px;
  }
}

.cert-slider {
  padding: 20px 0;

  &-item {
    text-decoration: none !important;
  }

  &-img {
    max-height: 290px;
    margin: 0 0 10px;

    & img {
      width: 100%;
      height: 290px;
      object-fit: cover;

      @media (max-width: 1200px) {
        height: 208px;
      }

      @media (max-width: 767.98px) {
        height: 210px;
      }
    }
  }

  &-title {
    font-size: 16px;
    line-height: 24px;
    @include font-montserrat-alt-bold;
    color: #212B36;
    text-align: center;

    @media (max-width: 767.98px) {
      @include font-montserrat-alt-bold;
    }
  }
}

.index-reviews {
  padding: 100px 0 80px;
  background: #FBF9FC;

  @media (max-width: 1200px) {
    padding: 80px 0 60px;
  }

  @media (max-width: 767.98px) {
    padding: 60px 0 30px;
    overflow: hidden;
  }
}

.reviews-slider {
  padding: 40px 0 20px;

  @media (max-width: 767.98px) {
    padding: 0;
  }
}

.index-form {
  padding: 80px 0 80px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-image: url("../images/bg-form.png");
  background-size: cover;
  background-position-x: center;
  background-position-y: -100px;
  overflow-x: hidden;

  @media (max-width: 1200px) {
    background-image: url("../images/bg-form-lg.png");
  }

  @media (max-width: 767.98px) {
    background: #fbf9fc;
    padding: 40px 0 20px;
  }

  &-img {
    &-top {
      background: url("../images/img-form-top.png");
      width: 128px;
      height: 122px;
      position: absolute;
      top: -45px;
      right: -54px;
      display: block;

      @media (max-width: 767.98px) {
        display: none;
      }
    }

    &-left {
      background: url("../images/img-form-left.png");
      width: 141px;
      height: 162px;
      position: absolute;
      top: 50%;
      margin-top: -81px;
      left: -80px;
      display: block;

      @media (max-width: 767.98px) {
        left: 20px;
        top: -80px;
        margin: 0;
      }
    }

    &-right {
      background: url("../images/img-form-right.png");
      width: 109px;
      height: 121px;
      position: absolute;
      bottom: 80px;
      right: -70px;
      display: block;

      @media (max-width: 767.98px) {
        display: none;
      }
    }
  }

  & .form {
    position: relative;

    @media (max-width: 767.98px) {
      margin: 80px -15px 0;
    }

    & form {
      background: #FFFFFF;
      box-shadow: -10px 20px 60px rgba(110, 133, 168, 0.08);
      border-radius: 6px;
      padding: 70px;
      position: relative;
      z-index: 1;

      @media (max-width: 1200px) {
        padding: 50px 30px;
        border-radius: 0;
      }

      @media (max-width: 767.98px) {
        padding: 50px 15px;
      }
    }
  }
}