body {
  @include font-montserrat-regular;
  color: #000;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  background: #f7f2f9;

  &.__main {
    background: transparent;
  }
}

* {
  outline: none !important;
}

a {
  color: #000;

  &:hover,
  &.active {
    color: #000;
  }
}

img {
  max-width: 100%;
}

p,
.p {
  margin: 0 0 15px;
  font-size: 14px;
  line-height: 24px;
  @include font-montserrat-alt-regular;
  letter-spacing: 0.5px;
  color: #4D4A54;

  &.__small {
    font-size: 12px;
    line-height: 20px;

    @media (max-width: 992px) {
      font-size: 13px;
    }
  }
}

.text {
  ul {
    margin: 0 0 15px;
    padding: 0 0 0 20px;

    & li {
      font-size: 15px;
      line-height: 24px;
      @include font-montserrat-alt-regular;
      letter-spacing: 0.5px;
      color: #4D4A54;

      @media (max-width: 767.98px) {
        font-size: 14px;
        line-height: 24px;
      }
    }
  }
}

.container {
  @media (min-width: 992px) {
    max-width: 974px;
  }

  @media (min-width: 1200px) {
    max-width: 1200px;
  }
}

.btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  height: 40px;
  border-radius: 14px;
  @include font-montserrat-alt-bold;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  text-align: center;

  &.__large {
    height: 56px;
  }

  &-purple {
    background: #5F2E6C;

    &:hover,
    &:focus,
    &:active,
    &:not(:disabled):not(.disabled).active,
    &:not(:disabled):not(.disabled):active {
      background: #855093;
      color: #FFFFFF;
    }
  }

  &-purple-i {
    color: #5F2E6C;
    background: transparent;
    border: 1px solid rgba(95, 46, 108, 0.3);

    &:hover,
    &:focus,
    &:active,
    &:not(:disabled):not(.disabled).active,
    &:not(:disabled):not(.disabled):active {
      background: #855093;
      color: #FFFFFF;
    }
  }
}

.title {
  &.__h2 {
    font-size: 33px;
    line-height: 40px;
    @include font-bitter-regular;
    color: #5F2E6C;
    margin: 0 0 30px;

    @media (max-width: 767.98px) {
      font-size: 24px;
      line-height: 29px;
    }
  }

  &.__h3 {
    color: #212B36;
    font-size: 24px;
    line-height: 29px;
    @include font-montserrat-alt-bold;
    margin: 0 0 15px;
  }

  &.__h4 {
    font-size: 18px;
    line-height: 22px;
    color: #212B36;
    @include font-montserrat-alt-bold;
    margin: 0 0 10px;
  }

  &.__h5 {
    font-size: 16px;
    line-height: 24px;
    @include font-montserrat-alt-bold;
    margin: 0 0 30px;
    color: #212B36;
  }

  &.__line {
    padding-top: 10px;
    position: relative;

    &::before {
      content: "";
      border-top: 1px solid #5F2E6C;
      width: 40px;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &.__quote {
    position: relative;
    display: inline-block;

    &::after {
      content: url("../images/icon-quote.svg");
      position: absolute;
      top: -10px;
      right: -10px;
      width: 182px;
      height: 144px;

      @media (max-width: 767.98px) {
        top: -55px;
        left: 70%;
        right: auto;
      }
    }
  }

  &.__block {
    display: block;

    @media (max-width: 767.98px) {
      &.__quote {
        &::after {
          top: 0;
          left: auto;
          right: 0;
        }
      }
    }
  }
}

.link {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-decoration-line: underline;
  @include font-montserrat-alt-regular;
  color: #5F2E6C;

  &:hover {
    text-decoration-line: none;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 20px 0;

  &.__left {
    justify-content: flex-start;
  }

  & .page-link {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    width: 40px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid transparent;
    box-sizing: border-box;
    padding: 0 0 0 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    border-radius: 0 !important;
    margin: 0;

    &.__prev,
    &.__next {
      font-size: 10px;
    }

    &:hover {
      color: #333;
      background: #FFFFFF;
    }
  }


  & .active .page-link {
    border: 1px solid #333333;
    background: #FFFFFF;
    color: #000;
  }
}

.breadcrumb {
  background: 0;
  margin: 0 0 30px;
  padding: 0;
  border-radius: 0;

  @media (max-width: 767.98px) {
    flex-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
  }

  &-item {
    font-size: 14px;
    display: flex;
    align-items: center;
    color: #4D4A54;
    line-height: 1;
    @include font-montserrat-bold;

    &:first-child {
      &::before {
        content: url("../images/icon-home.svg");
        width: 16px;
        height: 16px;
        margin-right: 5px;
      }
    }

    & a {
      color: #4D4A54;
      @include font-montserrat-regular;
    }

    @media (max-width: 767.98px) {
      white-space: nowrap;
      display: inline;
    }
  }

  .breadcrumb-item + .breadcrumb-item::before {
    content: "—";
    color: #4D4A54;

    @media (max-width: 767.98px) {

    }
  }
}

.owl-carousel {
  &.owl-slider {
    & .owl-nav {
      position: absolute;
      right: 0;
      top: -60px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;

      @media (max-width: 767.98px) {
        position: static;
        margin-top: 20px;
      }

      & button.owl-next {
        &::before {
          content: '';
          background-image: url("../images/icon-next.svg");
          background-position: center right;
          width: 29px;
          height: 18px;
          display: block;
          transition: width 0.2s;
        }

        &:hover::before {
          background-image: url("../images/icon-next-purple.svg");
          width: 69px;
        }
      }

      & button.owl-prev {
        &::before {
          content: "";
          background-image: url("../images/icon-prev.svg");
          background-position: center left;
          width: 29px;
          height: 18px;
          display: block;
          transition: width 0.2s;
        }

        &:hover::before {
          background-image: url("../images/icon-prev-purple.svg");
          width: 69px;
        }
      }
    }
  }
}

.show-all {
  display: flex;
  justify-content: center;

  & a {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    @include font-montserrat-alt-bold;
    color: #5F2E6C;
  }
}

.link-icon {
  display: flex;
  align-items: center;

  & .icon {
    margin-right: 10px;
  }
}

.social {
  display: flex;
  gap: 30px;
  list-style: none;
  padding: 0;
  margin: 0;

  @media (max-width: 992px) {
    gap: 10px;
  }

  @media (max-width: 767.98px) {
    gap: 20px;
  }
}

.owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav.disabled {
  display: none !important;
}

.content {
  background: #F7F2F9;
  padding: 0 0 30px;
  flex-grow: 1;

  &.__center {
    flex-grow: 0;
  }

  @media (max-width: 767.98px) {
    padding: 10px 0 10px;
    overflow-x: hidden;
  }
}

@media (max-width: 767.98px) {
  .row-xs-8 {
    margin-left: -8px;
    margin-right: -8px;

    & > [class^="col"] {
      padding-left: 8px;
      padding-right: 8px;
    }
  }
}

.box-white {
  background: #FFFFFF;
  box-shadow: 0px 10px 25px rgba(127, 116, 157, 0.08);
  border-radius: 6px;
  padding: 40px;
}

.box-price {
  background: #FFFFFF;
  box-shadow: 0px 10px 25px rgba(127, 116, 157, 0.08);
  border-radius: 6px;
  padding: 15px 0;

  &-item {
    padding: 15px 40px;
    border-bottom: 1px solid #ECECEC;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 767.98px) {
      padding: 15px 24px;
    }

    @media (max-width: 767.98px) {
      flex-direction: column;
      align-items: flex-start;
    }

    &:last-child {
      border: 0;
    }

    &.__total {
      justify-content: flex-end;

      & .box-price-value {
        @include font-montserrat-alt-bold;
        margin-left: 15px;
        @media (max-width: 767.98px) {
          margin-left: 0;
        }
      }
    }
  }

  &-title {
    font-size: 18px;
    line-height: 22px;
    @include font-montserrat-alt-bold;
    color: #212B36;
    @media (max-width: 767.98px) {
      font-size: 16px;
      margin-bottom: 5px;
    }
  }

  &-value {
    font-size: 24px;
    line-height: 32px;
    @include font-montserrat-alt-regular;
    color: #5F2E6C;

    @media (max-width: 767.98px) {
      font-size: 18px;
    }
  }
}

.mt-2r {
  margin-top: 2rem !important;
}

.modal {
  &-picture {
    & .modal-body {
      padding: 0;
    }

    & .close {
      position: absolute;
      width: 44px;
      height: 44px;
      background: #FFFFFF;
      top: -22px;
      right: -22px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 1;
      font-weight: 400;
      font-size: 36px;
      opacity: 1;
      @media (max-width: 767.98px) {
        right: 0;
      }
    }
  }
}

.cookie {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #FFFFFF;
  padding: 20px 0;
  font-size: 11.5px;
  line-height: 16px;
  @include font-montserrat-alt-regular;
  letter-spacing: 0.5px;
  color: #4D4A54;
  border-top: 1px solid #EAE7EB;
  z-index: 10;

  &-row {
    display: flex;
    margin: 0 -5px;

    @media (max-width: 767.98px) {
      flex-direction: column;
    }
  }

  &-text {
    flex-grow: 1;
    padding: 0 5px;
    @media (max-width: 767.98px) {
      text-align: center;
    }
  }

  &-button {
    min-width: 160px;
    padding: 0 5px;
    @media (max-width: 767.98px) {
      margin-top: 20px;
    }
  }
}

@media (min-width: 768px) {
  .gap-md-60 {
    gap: 60px;
  }
}

@media (min-width: 992px) {
  .mt-lg-80 {
    margin-top: 80px!important;
  }
}

@media (min-width: 1200px) {
  .mt-xl-100 {
    margin-top: 100px!important;
  }
}