@mixin font-montserrat-regular {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

@mixin font-montserrat-bold {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

@mixin font-montserrat-alt-regular {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 400;
}

@mixin font-montserrat-alt-bold {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 600;
}

@mixin font-bitter-regular {
  font-family: 'Bitter', serif;
  font-weight: 400;
}