.review {
  text-align: center;
  min-height: 290px;
  margin: 45px 0 25px;
  background: #FFFFFF;
  box-shadow: 0px 10px 25px rgba(127, 116, 157, 0.08);
  border-radius: 6px;
  padding: 50px 30px 30px;
  position: relative;
  transition: 0.3s;

  @media (max-width: 767.98px) {
    margin: 35px 0 25px;
  }

  &:hover {
    @media (min-width: 992px) {
      transform: translateY(-15px);
    }
  }

  &-img {
    position: absolute;
    left: 0;
    right: 0;
    top: -35px;
    display: flex;
    justify-content: center;

    & img {
      width: 75px !important;
      height: 75px;
      object-fit: cover;
    }
  }

  &-title {
    font-size: 24px;
    line-height: 29px;
    @include font-montserrat-alt-bold;
    color: #212B36;
    text-align: center;
    margin: 0 0 20px;
  }

  &-text {
    font-size: 14px;
    line-height: 24px;
    @include font-montserrat-alt-regular;
    letter-spacing: 0.5px;
    color: #4D4A54;

    @media (max-width: 767.98px) {
      font-size: 13px;
    }
  }
}

