.search {
  & .form {
    &-group {
      position: relative;
    }

    & .fa-times {
      position: absolute;
      top: 15px;
      right: 15px;
      color: #bababa;
    }

    &-control {
      border: 1px solid #BABABA;
      border-radius: 34px;
      color: #313131;
      background: 0;
      padding: 10px 50px;
    }
  }

  &-submit {
    position: absolute;
    top: 15px;
    left: 15px;
    color: #bababa;
    font-size: 20px;
    background: 0;
    border: 0;
    padding: 0;
    line-height: 1;
  }

  &-item {
    margin-bottom: 30px;
  }

  & .title b {
    background: #c9b8cf;
    padding: 0 3px;
  }

  & p b {
    background: #c9b8cf;
    padding: 0 3px;
  }

  &-highlight {
    background: #c9b8cf;
    padding: 0 3px;
  }
}