.services {
  &-title {
    font-size: 33px;
    line-height: 40px;
    @include font-bitter-regular;
    color: #5F2E6C;
    margin: 0 0 30px;

    @media (max-width: 767.98px) {
      font-size: 24px;
      line-height: 29px;
    }
  }

  &-item {
    background: #D8D8D8;
    box-shadow: 0px 10px 25px rgba(127, 116, 157, 0.2), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    transition: 0.3s;
    display: block;

    @media (max-width: 767.98px) {
      margin-bottom: 16px;

      &.__large {
        max-height: 160px;
      }
    }

    &:hover {
      transform: translateY(-10px);
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.29) -12.18%, rgba(0, 0, 0, 0.66) 107.63%);
    }

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &-title {
      position: absolute;
      top: 20px;
      left: 15px;
      font-size: 16px;
      line-height: 24px;
      color: #FFFFFF;
      @include font-montserrat-alt-bold;

      @media (max-width: 767.98px) {
        font-size: 14px;
        line-height: 20px;
      }
    }

    &-link {
      display: flex;
      align-items: center;
      position: absolute;
      bottom: 20px;
      left: 15px;
      font-size: 12px;
      line-height: 15px;
      color: #F7F2F9;

      @media (max-width: 767.98px) {
        display: none;
      }

      &:hover {
        color: #F7F2F9;
        text-decoration: none;
      }

      & i {
        color: #F7F2F9;
        margin-right: 10px;
        font-size: 10px;
      }
    }
  }
}