@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@400;600&family=Montserrat+Alternates:wght@400;600&family=Montserrat:wght@400;600&display=swap');

@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/owl.carousel/src/scss/owl.carousel.scss";
@import "../libs/fontawesome/scss/fontawesome.scss";
@import "../node_modules/lightgallery/dist/css/lightgallery.css";

@import "./_variables.scss";

@import "../libs/fontawesome/scss/regular.scss";
@import "../libs/fontawesome/scss/solid.scss";
@import "../libs/fontawesome/scss/brands.scss";
@import "../libs/fontawesome/scss/light.scss";

//@import "./_fonts.scss";
@import "./_mixin.scss";
@import "./_icon.scss";
@import "./_form.scss";
@import "./_main.scss";
@import "./_header.scss";
@import "./_footer.scss";
@import "./_banner.scss";
@import "./_index.scss";
@import "./_service.scss";
@import "./_search.scss";
@import "./_reviews.scss";
@import "./_actions.scss";